.hide {
  display: none;
  width: 0;
  height: 0;
}

body {
  margin: 1.5rem;
}

button {
  padding: 12px;
  margin: 4px;
  border: 1px solid hsl(199, 98%, 38%);
  border-radius: 3px;
  font-size: 14px;
  background-color: hsl(199, 98%, 48%);
  color: #fff;
}

#choices {
  list-style: none;
  display: flex;
  padding-inline-start: 0;

  li {
    padding: 12px;
    margin: 4px;
    border: 1px solid hsl(123, 46%, 24%);
    border-radius: 3px;
    background-color: hsl(123, 46%, 34%);
    color: #fff;
    text-align: center;
  }
}

trivia-error {
  display: none;
  padding: 8px;
  background: red;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
}

section > button {
  display: none;
}

// Dynamic styles

.correct {
  background-color: hsl(123, 46%, 54%) !important;
  border-color: hsl(123, 46%, 44%) !important;
}

.incorrect {
  background-color: hsl(4, 90%, 48%) !important;
  border-color: hsl(4, 90%, 38%) !important;
}

.show {
  display: block;
}
