* {
  box-sizing: border-box;
}

.hide {
  display: none;
  width: 0;
  height: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  @media screen and (max-width: 500px) {
    margin: 0.6rem;
  }
  margin-top: 0;
}

p#user-messages {
  margin-top: 3rem;
  text-align: center;
  color: red;
  font-size: 1.2rem;
}

#settings {
  margin: 0 auto;
  @media screen and (max-width: 500px) {
    width: 100%;
  }
}

h1 {
  text-align: center;
  font-size: 2.5rem;

  &:hover {
    color: gold;
    transition: all 0.3s ease-in-out;
  }
}

p {
  margin: 0 auto 1.5rem;
  width: 80%;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 2rem 0;
  border: 1px solid #ccc;
  padding: 1rem 2rem 2rem 2rem;
  background: linear-gradient(40deg, #1976d2, #2196f3, #0097a7);
  border-radius: 5px;
  color: white;
  @media screen and (max-width: 500px) {
    width: 100%;
  }

  label {
    margin: 1rem 0 0.2rem 0;
    font-size: 20px;
  }

  input,
  select {
    height: 2.2rem;
    font-size: inherit;
    background: #fff;
  }

  input {
    width: 100%; // needed for Firefox
    border-radius: 3px;
  }

  input[type='submit'] {
    margin-top: 1.8rem;

    &:hover {
      cursor: pointer;
      color: hsl(51, 100%, 40%);
      transition: all 0.2s ease-in-out;
    }
  }
}

button {
  padding: 12px 15px;
  margin: 4px;
  border: 1px solid hsl(199, 98%, 38%);
  border-radius: 3px;
  font-size: inherit;
  background-color: hsl(199, 98%, 48%);
  color: #fff;
  @media screen and (max-width: 500px) {
    width: 30%;
  }
}

#quiz {
  div:first-of-type {
    background-color: hsl(159, 92%, 40%);
    padding: 1rem;
    color: white;
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
  }
  h1 {
    margin: 3rem 0;
    font-size: 2.3rem;
    text-align: left;
    @media screen and (max-width: 500px) {
      font-size: 1.8rem;
      margin-left: 0.6rem;
    }
  }
}

#choices {
  list-style: none;
  display: inline-flex;
  padding-inline-start: 0;
  @media screen and (max-width: 500px) {
    display: flex;
    flex-direction: column;
  }
  li {
    display: flex;
    align-items: center;
    padding: 18px;
    margin: 4px;
    border: 1px solid hsl(210, 79%, 36%);
    border-radius: 3px;
    background-color: hsl(210, 79%, 46%);
    color: #fff;
    text-align: center;
    @media screen and (max-width: 500px) {
      justify-content: center;
    }
  }
}

#quiz,
div > button {
  display: none;
}

// Alerts

.alert {
  display: none;
  padding: 20px;
  color: white;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

// Dynamic styles

.correct {
  background-color: hsl(123, 46%, 54%) !important;
  border-color: hsl(123, 46%, 44%) !important;
}

.incorrect {
  background-color: hsl(4, 90%, 48%) !important;
  border-color: hsl(4, 90%, 38%) !important;
}

.show {
  display: block !important;
}

.ignore {
  filter: opacity(0.5) blur(3px);
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 60px;
  height: 60px;
  margin-top: -30px;
  margin-left: -30px;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  animation: spinner 1s linear infinite;
}
